<header>
        <div id="logo-box">
            <div id="logoImage">
                <img src = "/img/mylogo.png" height = "100%" width = "100%">
            </div>
            <div id="logoTitle">presenc</div>
        </div>
        <div id="help-box" class = "help-box">
            <span>Student</span>
            <span>Teacher</span>
        </div>
        <div id = "pull-down-contactus" class="pull-down-contactus" onclick = "pullItDown()">Help</div>
        
</header>